.post {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  background-color: #ffffff;
  max-width: 500px;
  border: 1px solid lightgray;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post_text {
  font-weight: normal;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.post_comments {
  padding: 20px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_header_info {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.post_comment_box {
  display: flex;
  margin-top: 10px;
}

.post_input {
  flex: 1; /* all space */
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.post_button {
  flex: 0; /* only needed space */
  border: none;
  border-top: 1px solid lightgray;
  background-color: transparent;
  color: lightblue;
}